.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-heading {
    font-size: 3em;
    margin: 1.5em 0 1em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid black;
    padding: 2em;
    border-radius: 0.5em;
    gap: 1em;
}

.contact-form > .row {
    display: flex;
    flex-direction: column;
}

.contact-form > .row > label {
    font-size: 1.4em;
    margin-bottom: 0.2em;
}

.contact-form > .row > input,
.contact-form > .row > textarea {
    padding: 0.5em;
    font-size: 1em;
    border-radius: 0.5em;
    outline: none;
    border: 1px solid gray;
    background-color: azure;
}

.send-btn {
    font-size: 1.5em;
    background-color: #003d00;
    color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-top: 1em;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #005200;
}
