.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-heading {
    font-size: 3em;
    margin: 1.5em 0 1.5em;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
}

.left-container-image {
    width: 500px;
    border: 1px solid gray;
    border-radius: 1em;
}

.right-container-content {
    margin-left: 2em;
    font-size: 1.9em;
    line-height: 1.4;
    text-align: justify;
    font-weight: 500;
}